@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');


body{
    background: linear-gradient(45deg, #6aee80, #d3c0f7);
    background-repeat: no-repeat;
    min-height: 97.8vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.titulo {
    text-align: center;
    margin: 20px;
    font-family: 'Merriweather', serif;
}
p{
    font-size: 22px;
    margin: 20px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: row;

    /*justify-content: center;
    align-items: center;*/
    max-height: max-content;
    min-height: min-content;
    max-width: 700px;
    min-width: 50vh;

    border: 3px solid purple;
    border-radius: 10px;
    text-align: center;
    background:linear-gradient(45deg,#d3c0f7, #6aee80,);

}

.campoDigitavel {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.tamanho {
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.acompanhamento{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.check{
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.datareserva{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.observacao{
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.botaoenviar{
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

